@import "compass/typography/vertical_rhythm";

@include establish-baseline;

* {
	@include box-sizing(border-box);
}

body {
  background: $global-bg-color;
  font-family: $font-family;
  font-weight: $body-font-weight;
  color: $body-font-color;
  position: relative;
  -webkit-font-smoothing: $font-smoothing;
  @include respond(all-phones) {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
  }
}

html, body {
  height: 100%;
}

.hide {
  display: none;
}

.hide.active, .show {
  display: block;
}

// .fixed elements will be static at supplied breakpoint
// set arg to false for permanent .fixed elements
@include fixed(portrait-tablets);

.text-center { @extend %text-center; }
.text-left { @extend %text-left; }
.text-right { @extend %text-right; }

// Partial to align Text Left or Right
%text-center { text-align: center; }
%text-left { text-align: left; }
%text-right { text-align: right; }


.site-nav {
    float: right;
    line-height: 56px;
    margin-right: 20px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #4ea3b5;
        font-weight: bold;

        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @media screen and (max-width: 500px) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: #666;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            color: #000;
            font-weight: normal;
        }
    }
}
